* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", serif;
    font-size: 16px;
    color: var(--text-color);
}

h1 {
    font-weight: 900;
    font-size: 39px;
    line-height: 46px;
}

h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

h1,h2 {
    color: var(--heading-color);
}

ul {
    list-style: none;
}

picture {
    display: flex;
}

.container {
    max-width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}

.icon {
    padding:3px;
}